<mat-toolbar class="toolbar">
  <div class="toolbar-left"><span>🎮 Game Shop</span></div>

  <div class="toolbar-center" *ngIf="showSearch">
    <div class="search-container">
      <input type="text" placeholder="Search games..." [(ngModel)]="query" (input)="onSearch()">
      <div class="search-results" *ngIf="results.length">
        <div class="search-item" *ngFor="let game of results" (click)="goToGameDetail(game.id)">
          <img [src]="game.image_url" alt="{{ game.name }}">
          <span>{{ game.name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="toolbar-right">
    <div class="cart-container" [matMenuTriggerFor]="cartMenu">🛒 <span class="cart-count">{{ getCartCount() }}</span>
    </div>
    <div class="wallet" [matMenuTriggerFor]="userMenu">
      <img class="profile-pic" [src]="getAvatarUrl()" alt="Profile">
      <!-- แสดงเงินจาก getUserBalance() -->
      <span class="balance">{{ getUserBalance() | number:'1.2-2' }} บาท</span>
    </div>
  </div>
</mat-toolbar>

<mat-menu #cartMenu="matMenu" class="cart-menu custom-menu">
  <ng-container *ngIf="cart.length; else emptyCart">
    <div class="cart-items-wrapper">
      <div *ngFor="let item of cart" class="cart-item">
        <img [src]="item.image_url" alt="{{ item.name }}">
        <div class="item-info">
          <span class="item-name">{{ item.name }}</span>
          <span class="item-price">{{ (item.price * item.quantity) | number:'1.2-2' }} บาท</span>
        </div>
        <div class="item-quantity">x{{ item.quantity }}</div>
        <div class="remove-btn" (click)="removeFromCart(item.gameId)">ลบ</div>
      </div>
    </div>

    <div class="cart-footer">
      <div class="cart-total">
        รวม: {{ getCartTotal() | number:'1.2-2' }} บาท
      </div>
      <button mat-raised-button (click)="goToCheckout()">ไปชำระเงิน</button>
    </div>
  </ng-container>

  <ng-template #emptyCart>
    <div class="empty-cart">
      🛒 ตะกร้าว่าง
    </div>
  </ng-template>
</mat-menu>


<mat-menu #userMenu="matMenu" class="custom-menu user-menu">
  <button mat-menu-item (click)="goToHome()">🏠 หน้าหลัก</button>
  <button mat-menu-item (click)="goToProfile()">👤 โปรไฟล์</button>
  <button mat-menu-item (click)="goToWallet()">💰 กระเป๋าเงิน</button>
  <button mat-menu-item (click)="goToLibrary()">🎮 คลังเกม</button>
  <button mat-menu-item (click)="logout()">🚪 ออกจากระบบ</button>
</mat-menu>
